:root {
--VeryLightGray: hsl(0, 0%, 98%);
--VeryLightGrayishBlue: hsl(236, 33%, 92%);
--LightGrayishBlue: hsl(233, 11%, 84%);
--DarkGrayishBlue: hsl(236, 9%, 61%);
--VeryDarkGrayishBlue: hsl(235, 19%, 35%);
--VeryDarkBlue: hsl(235, 21%, 11%);
--VeryDarkDestructedBlue: hsl(235, 24%, 19%);
--LightGrayishBlue: hsl(234, 39%, 85%);
--LightGrayishBlue :(hover) hsl(236, 33%, 92%);
--VeryDarkGrayishBlue: hsl(233, 14%, 35%);
--VeryDarkGrayishBlue: hsl(237, 14%, 26%);

--HeavyFont : 700;
--LightFont : 400;
}

* {
    margin :0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

body {
    background-image: url('images/bg-desktop-light.jpg');
    background-size:contain ; /* This ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed as you scroll */
    background-color: var(--VeryLightGray);
    /*background-color: var(--VeryDarkBlue);/* Dark Mode */
}
.body-dark{
    background-color: var(--VeryDarkBlue);
}

/* Header Section Start */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:85%;
    height:20vh;
}
.mode-change{
    background-color: transparent;
    border: none !important;
    outline:none!important;
    cursor: pointer;
    display:flex;
    justify-content: flex-end;
}


.svg-icon {
    transition: opacity 0.3s ease;
}

/* Define a class to hide the icon */
.svg-icon.hidden {
    opacity: 0;
}



.TODO {
    letter-spacing:20px;
    font-size:40px;
    color:white;
}
/* Header Section End */

/* Main Section Start */
.container{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin:auto;
    width:100vw;
    height: 100vh;
}
/* Div contain */
.WrapperAll{
    background-color: transparent;
    width: 700px;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

.main{
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 85%;
    height:90vh;
    background-color: transparent;
    gap: 20px;
    overflow-y:auto;
}
.input-task{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height:50px;
    background-color: var(--VeryLightGrayishBlue);
    /*background-color: var(--VeryDarkGrayishBlue);/* Dark Mode */
    border-radius: 5px;

}
.input-task-dark{
    background-color: var(--VeryDarkGrayishBlue);
}
.check-mark{
    border-radius: 100%;
    width: 22px;
    height: 22px;
    border: 1px solid gray;
    font-family:fantasy;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    outline:none;
    border: none;
    width : 75%;
    font-size: 13px;
    background-color: var(--VeryLightGrayishBlue) ;
    /*background-color: var(--VeryDarkGrayishBlue) ; /* Dark Mode */
    margin-left: 20px;
}
.tasks{
    width:100%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    border-radius: 5px 5px 0 0;
    overflow-y:auto;

}
.tasks::-webkit-scrollbar {
    display: none;
}
.tasks-status{
    width: 100%;
    height: 50px;
    background-color: var(--VeryLightGrayishBlue);
    /*background-color: var(--VeryDarkGrayishBlue);/* Dark Mode */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.created-task{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    min-height:50px ;
    line-height: 25px;
    flex-shrink: 0;
    background-color: var(--VeryLightGrayishBlue) ;
    /*background-color: #25273C ; /*Dark Mode */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: linear-gradient(360deg,rgba(168,108,240,1) 0%,rgba(31,39,104,1) 68%) 1;
}
.task-text{
    font-size: 15px;
    margin-left: 20px;
    flex-grow: 1;
    height: fit-content;
    text-wrap: stable;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text-decorate{
    text-decoration: line-through;
    color: var(--DarkGrayishBlue);
}
.cross-mark{
    margin-right: 15px;
    flex-shrink: 0;
    cursor: pointer;
    display:flex;
}
.task-button{
    border-radius: 100%;
    width: 22px;
    height: 22px;
    border: 1px solid gray;
    font-family:fantasy;
    margin-left: 15px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.checky-mark{
    display: none;
}
/* .task-button:hover{
    border-color: #6832a4;
    border-width: 2px;
} */
.task-button-color{
    background: linear-gradient(135deg,rgba(168,108,240,1) 0%,rgba(115,126,215,0.9556197478991597) 68%);
}
.tasks-status button{
    border: none;
    font-size: 16px;
    background-color: transparent;
}
.tasks-status button:hover{
    background: -webkit-linear-gradient(360deg,rgba(168,108,240,1) 0%,rgba(31,39,104,1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.tasks-footer{
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40%;
    flex-shrink: 0;
    margin-top: -20px;
    background-color: var(--VeryLightGrayishBlue);
    /*background-color: var(--VeryDarkGrayishBlue);/* Dark Mode */
    border-radius:0px 0px 5px 5px ;
}
#items-left{
    font-size: 13px;
}
#clear-all{
    font-size: 13px;
    cursor: pointer;
}
#clear-all:hover{
    background: -webkit-linear-gradient(360deg,rgba(168,108,240,1) 0%,rgba(31,39,104,1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Main Section End */

/* Footer Section Start */
.footer {
    height: 15%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(360deg,rgba(168,108,240,1) 0%,rgba(115,126,215,0.9556197478991597) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.clicked {
    background: -webkit-linear-gradient(360deg,rgba(168,108,240,1) 0%,rgba(31,39,104,1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Footer Section End */
/* DarkMode Section start*/
.container{
    
}
.dark-mode{
    background-color: var(--VeryDarkGrayishBlue);/* Dark Mode */
    color: var(--VeryLightGray);
    -webkit-text-fill-color: var(--VeryLightGray);
    font-weight: lighter;
}

.created-task-dark-mode{
    background-color: var(--VeryDarkGrayishBlue);/* Dark Mode */
    color: var(--VeryLightGray);
    font-weight: lighter;
}

.tasks-status-dark{
    background-color: var(--VeryDarkGrayishBlue);
    color: var(--VeryLightGrayishBlue);
}

/* DarkMode Section end*/
/*Events section start*/
@media (max-width: 700px) {
    .WrapperAll{
        width:100%;
        height:100%;
    }
    .header{
        height:16vh;
    }
    body {
        background-image: url('images/bg-mobile-light.jpg');
        background-size:contain ; /* This ensures the image covers the entire element */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-attachment: fixed; /* Keeps the image fixed as you scroll */
    }
    .TODO{
        font-size: 30px;
        letter-spacing: 12px;
    }
    .tasks-footer span{
        font-size: 14px;
    }
    .footer p{
        font-size: 14px !important;
    }
    .cross-mark{
        display:flex !important;
    }
    .checky-mark{
        display: none;
    }
    
}
/*Events section end*/
